/* Нормалізація стилей  */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Користувацькі стилі */

h1,
h2,
h3,
h4,
h5 {
	color: white;
}

body {
	background: linear-gradient(80deg, #89f7fe, #66a6ff, #a1c4fd, #c2e9fb);
	min-height: 100vh;
}

body,
html * {
	font-family: sans-serif;
}
.container {
	max-width: 900px;
	margin: 0 auto;
}
h1 {
	text-align: center;
	font-size: 28px;
	margin: 10px 0;
	font-weight: bold;
}

table {
	background: rgba(194, 188, 188, 0.5);
	padding: 5px;
	width: 100%;
	border-radius: 10px;
	outline: 1px solid gold;
}
thead {
	border-bottom: 2px solid black;
}
th,
td {
	padding: 10px;
	font-size: 18px;
	color: rgb(37, 37, 37);
}
th + th,
td + td {
	border-left: 1px solid black;
}

tr:not(:last-child) {
	border-bottom: 1px solid black;
}
a {
	text-decoration: none;
	color: unset;
	transition: 0.2s ease-in-out;
}
a:hover {
	text-decoration: underline;
}

.person-block {
	width: 100%;
	border: 1px solid black;
	border-radius: 20px;
	padding: 10px 20px;
}
h2 {
	font-size: 17px;
	margin: 0 0 20px;
}
p,
.desc-text {
	color: white;
	font-size: 16px;
}

.desc-text {
	text-align: center;
	font-size: 18px;
	border-bottom: 1px dashed black;
	margin: 0 0 20px 0;
}
form {
	width: 420px;
	margin: 10px auto;
}
input,
textarea {
	width: 80%;
	border: none;
	border-radius: 10px;
	padding: 10px 5px;
	margin: 5px auto;
	display: block;
}
button[type="submit"] {
	width: 50%;
	display: block;
	padding: 10px 5px;
	border-radius: 20px;
	background-color: #520d80;
	border: none;
	margin: 10px auto;
	color: white;
	text-transform: uppercase;
	cursor: pointer;
}
.button-delete {
	color: white;
	background-color: #520d80;
	padding: 10px 5px;
	width: 200px;
	cursor: pointer;
	display: block;
	margin: 40px auto 10px;
	text-transform: uppercase;
}
